.movies-card {
  display: flex;
  flex-direction: column;
  row-gap: 14px;
  position: relative;
}

.movies-card__image {
  object-fit: contain;
}

.movies-card__info {
  padding: 0 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 30px;
}

.movies-card__title {
  font-size: 13px;
  font-weight: 500;
  text-align: left;
  min-height: 32px;
}

.movies-card__duration {
  width: fit-content;
  height: fit-content;
  padding: 3px 4px;
  background-color: #f9f9f9;
  color: #a0a0a0;
  border-radius: 3px;
  font-size: 11px;
  font-weight: 400;
  line-height: 0.909;
  flex-shrink: 0;
}

.movies-card__save-icon {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 72px;
  height: 21px;
  border-radius: 10px;
  background-color: #f9f9f9;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
  border: none;
  z-index: 2;
  visibility: hidden;
}
.movies-card__save-icon:after {
  content: 'Сохранить';
  font-size: 10px;
  line-height: 21px;
}
.movies-card:hover .movies-card__save-icon {
  visibility: visible;
}
.movies-card__save-icon:hover {
  opacity: 0.8;
}

.movies-card__saved-icon {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 21px;
  height: 21px;
  border-radius: 10px;
  background-color: #ff4062;
  background-image: url('../../images/icons/tick.svg');
  background-size: 10px 10px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
  border: none;
  z-index: 2;
}
.movies-card__saved-icon:hover {
  opacity: 0.8;
}

.movies-card__unsave-icon {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 21px;
  height: 21px;
  border-radius: 10px;
  background-color: #f9f9f9;
  background-image: url('../../images/icons/cross.svg');
  background-size: 10px 10px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
  border: none;
  z-index: 2;
  visibility: hidden;
  }

.movies-card:hover .movies-card__unsave-icon {
  visibility: visible;
}

.movies-card__unsave-icon:hover {
  opacity: 0.8;
}
