.promo {
  padding: 0 70px;
  background-color: #f3c1f8;
  background-image: url('../../images/logos/logo_landing.svg');
  background-repeat: no-repeat;
  background-position: top calc(50% - 20px) left 50%;
  min-height: 524px;
  display: flex;
}
@media screen and (max-width: 900px) {
  .promo {
    padding: 0 20px;
    min-height: 784px;
  }
}
@media screen and (max-width: 550px) {
  .promo {
    padding: 0 10px;
    min-height: 720px;
  }
}

.promo__title {
  margin: auto;
  position: relative;
  top: -20px;
  font-size: 50px;
  font-weight: 400;
  max-width: 730px;
  line-height: 1.16;
  letter-spacing: -0.04em;
}
@media screen and (max-width: 550px) {
  .promo__title {
    font-size: 31px;
    line-height: 1.26;
  }
}