.header {
  height: 74px;
  width: 100%;
  display: flex;
}
.header_color_pink {
  background-color: #f3c1f8;
}

.header__container {
  margin: auto;
  width: min(1280px, 100%);
  box-sizing: border-box;
  padding: 18px 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 900px) {
  .header__container {
    padding: 18px 30px;
  }
}
@media screen and (max-width: 550px) {
  .header__container {
    padding: 18px 16px 18px 14px;
  }
}

.header__logo {
  width: 38px;
  margin: 0;
}

.header__link {
  text-decoration: none;
  color: black;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}
.header__link:hover {
  opacity: 0.8;
}

.header__button {
  width: 76px;
  height: 32px;
  margin-left: 30px;
  background-color: black;
  border: none;
  border-radius: 3px;
  text-decoration: none;
  color: white;
  font-size: 12px;
  line-height: 32px;
  font-weight: 500;
  line-height: 18px;
}

.header__menu-switch {
  display: none;
  background-image: url('../../images/icons/burger.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 28px;
  height: 23px;
  object-fit: fill;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
@media (hover: hover) {
  .header__menu-switch:hover {
    opacity: 0.8;
  }
}
@media screen and (max-width: 700px) {
  .header__menu-switch {
    display: inline-block;
  }
}