.header {
  height: 74px;
  box-sizing: border-box;
  padding: 18px 70px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 900px) {
  .header {
    padding: 18px 30px;
  }
}
@media screen and (max-width: 550px) {
  .header {
    padding: 18px 16px 18px 14px;
  }
}

.header_colored {
  background-color: #f3c1f8;
}

.header__logo {
  width: 38px;
  margin: 0;
}

.header__menu-switch {
  display: none;
  background-image: url('../../images/icons/burger.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 28px;
  height: 23px;
  object-fit: fill;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
@media (hover: hover) {
  .header__menu-switch:hover {
    opacity: 0.8;
  }
}
@media screen and (max-width: 700px) {
  .header__menu-switch {
    display: inline-block;
  }
}